package wchat

//"gitlab.com/bud.git/src/view/layout"
import (
	"gitlab.com/bud.git/src/view/components"
)

templ WorkerChatView() {
	<div class="bg-teal-700 flex flex-row w-full">
		@components.Card("Config One")
		@components.Card("Config Two")
	</div>
}
