body {
  height: 100vh;
  width: 100vw;
}

h1 {
  color: #E56B34
}

h2 {
  color: #A56D32
}

#main {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: red;
}

#navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
}

#user-config-main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 90%;
}

#worker-config-main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 90%;
}
