package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title></title>
			<link href="/static/css/output.css" rel="stylesheet"/>
		</head>
		<body class="bg-emerald-600">
			<h1 class="text-red-900">Config Page</h1>
			{ children... }
		</body>
	</html>
}
